<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="All Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>tests/DexPaprika</directory>
            <exclude>tests/DexPaprika/Integration</exclude>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/DexPaprika/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="coverage" />
        </report>
    </coverage>
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
</phpunit> 